
<!-- card -->
<div class="cards">


   <!-- card1 -->
    <mat-card>
        <app-card

        bg="orange"
        icon="person"
        description="student"
        count="5000"
        
        ></app-card>
    </mat-card>

    <!-- card2 -->
      
    <mat-card>
        <app-card

        bg="red"
        icon="home"
        description="Institution"
        count="2000"
        ></app-card>
    </mat-card>


    <!-- card3 -->
    <mat-card>
        <app-card
        bg="green"
        icon="groups"
        description="employees"
        count="1500"
        ></app-card>
    </mat-card>

    <!-- card4 -->

    <mat-card>
        <app-card

        bg="blue"
        icon="dashboard"
        description="placements"
        count="1000"
        
        ></app-card>
    </mat-card>





</div>

<!-- area chart -->
<div class="area">
<app-areachart></app-areachart>
</div>


<!-- table and pi chart -->

<div class="tablepi">
    
    <!-- table -->
    <div>
        <app-table></app-table>
    </div>


    <!-- pichart -->

    <div>
        <app-pichart></app-pichart>
    </div>


</div>


